name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy
        run: npm run deploy
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
          VITE_MIN_CYCLE_VALUE: ${{ secrets.VITE_MIN_CYCLE_VALUE }}
          VITE_MAX_CYCLE_VALUE: ${{ secrets.VITE_MAX_CYCLE_VALUE }}
