name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          VITE_MIN_CYCLE_VALUE: ${{ secrets.VITE_MIN_CYCLE_VALUE }}
          VITE_MAX_CYCLE_VALUE: ${{ secrets.VITE_MAX_CYCLE_VALUE }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
